@page
@using SySIntegral.Core.Entities.Users
@model IndexModel

@inject ICurrentUser currentUser

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">SySIntegral Admin</h1>
    <a class="mt-5 btn btn-lg btn-primary" asp-area="Admin" asp-controller="Registries" asp-action="Index" >Ver Registros</a>
</div>

