@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso no permitido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Usted not tiene acceso a éste recurso.</p>
</header>
