@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Se envió un mail a su correo electrónico con instrucciones para resetear su contraseña.
</p>

