@model SySIntegral.Web.Areas.Admin.Models.Devices.CreateDeviceViewModel

@{
    ViewData["Title"] = "Administrar Dispositivo";
}

<div asp-validation-summary="All" class="text-danger"></div>

<input type="hidden" asp-for="Id" />

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="UniqueId"></label>
            <input asp-for="UniqueId" class="form-control" />
            <span asp-validation-for="UniqueId" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label asp-for="SelectedOrganizationId"></label>
            @if (!Model.IsLimitedByOrganization)
            {
                <select class="form-control" asp-for="SelectedOrganizationId" asp-items="@(new SelectList(Model.Organizations, "Id", "Name"))">
                    <option value="">-- Seleccione Organización --</option>
                </select>
            }
            else
            {
                <select class="form-control" asp-for="SelectedOrganizationId" asp-items="@(new SelectList(Model.Organizations, "Id", "Name"))" readonly>
                </select>
            }
            <span asp-validation-for="SelectedOrganizationId" class="text-danger"></span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div id="assetsListContainer" class="form-group">
            <partial model="@Model" name="_AssetsDropdownPartial" />
        </div>
    </div>
</div>




