@model SySIntegral.Web.Areas.Admin.Models.Assets.CreateAssetViewModel

@{
    ViewData["Title"] = "Editar Instalación";
}

<h1>Editar Instalación</h1>
<hr />
<div class="row">
    <div class="col-12">

        <form asp-route-returnUrl="" asp-action="Update" method="post">

            <partial name="_AssetForm" />

            <button type="submit" class="btn btn-primary">Grabar</button>
        </form>
    </div>
</div>
<div class="mt-2">
    <a asp-action="Index">Volver a la lista</a>
</div>

<hr />

@await Component.InvokeAsync("DevicesList", Model.Id)


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}