@using SySIntegral.Core.Entities.Users
@using SySIntegral.Core.Entities.Roles
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SySIntegral</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    @*<link rel="manifest" href="/site.webmanifest">*@
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    @*<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>*@
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SySIntegral</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
                            </li>*@

                        @{
                            var isSignedIn = SignInManager.IsSignedIn(User);
                            var isAdmin = User.IsInRole(SySRoles.Administrator);
                        }

                        @if (isSignedIn)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administrar
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    @if (isAdmin)
                                    {
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
                                    }

                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Usuarios</a>

                                    @if (isAdmin)
                                    {
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Organizations" asp-action="Index">Organizaciones</a>
                                    }

                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Assets" asp-action="Index">Instalaciones</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Devices" asp-action="Index">Dispositivos</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Registries" asp-action="Index">Registros</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Reports" asp-action="Index">Reportes</a>

                                    @*<div class="dropdown-divider"></div>*@
                                </div>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; @DateTime.Now.Year - SySIntegral
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
