@using SySIntegral.Web.Areas.Admin.Pages
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @AdminNavPages.IndexNavClass(ViewContext)" asp-page="/Roles/Index">Roles</a></li>
</ul>
