
<h1>Crear Usuario</h1>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="col-12">
       
        <form asp-route-returnUrl="" asp-action="Update" method="post">

            <partial name="_UserForm"/>

            <button type="submit" class="btn btn-primary">Grabar</button>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}